.navbar  {
    background-image: url(imges/image\ 1.png);
    background-size: cover; 
    background-position:center; 
    height: 100vh; 
    width: 100%;
    margin-bottom: -25PX;
}
.about {
    background-image: url(imges/image2.png);
    background-size: cover; 
    background-position: center center; 
    height: 80vh; 
    width: 100%;
     margin-bottom: -27PX;
}
.time {
    background-image: url(imges/image4.png);
    background-size: cover; 
    background-position: center center; 
    height: 30rem; 
    width: 100%;
    margin-bottom:  -5REM;
   
}

.navbar-menu  {
    background-image: url(imges/coffee-beans-dark-background.jpg);
    background-size: cover; 
    background-position: center center; 
    height: 150vh; 
    width: 100%;
     margin-bottom: -25PX;
}

.navbar-contact {
    background-image: url(imges/coffee-beans-dark-background.jpg);
    background-size: cover; 
    background-position: center center; 
    height: 102vh; 
    width: 100%;
     margin-bottom: -25PX;
}
.client{
    background-image: url(imges/sousmenu.png);
    background-size: cover; 
    background-position: center center; 
    height: 80vh; 
    width: 100%;
   
}
.navbar-local{
    background-image: url(imges/image\ 9.png);
    background-size: cover; 
    background-position: center center; 
    height: 107vh; 
    width: 100%;
    
}

.nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20rem;
    background-color: rgba(0, 0, 0, 0.5);
    height: 70px;
    
}


.nav img{
    position: relative;
    margin: 0;
    left: 5rem;
    width: 100px;
    padding-top: 10PX;
    
}


 .nav ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    display: flex;
    left: 290px;
   
}


.nav li {
    margin: 0 25px ;
    
}


.nav a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}


.navbar  a:hover {
    color: #f49e3b;
}
.navbar-menu  a:hover {
    color: #f49e3b;
}
.navbar-local  a:hover {
    color: #f49e3b;
}
.navbar-contact  a:hover {
    color: #f49e3b;
}
.script h1 {
padding-top: 10%;  
padding-left: 90PX;
font-size: 40px;
font-family: 'poppins';
color: #ffffff;

}
.script P{
padding-left: 94PX;
color: #ffffff;
font-family: 'poppins';
font-size: 20px;
}
.script button{
    margin-left: 96px;
    margin-top: 5PX;
    width: 120px;
    height: 40px;
    background-color: #B77E66;
    color: beige;
    border-radius: 20px;
}
.script button:hover{
    background-color: #6B554A;
}



.about h1{
   padding-left: 60%;
   padding-top: 10%;
    color: #c77527;
    font-size: 30px;
    font-family: 'poppins';
    
}
.about p{
    padding-left: 760px;
    color: #61330e;
    font-family: 'poppins';
font-size: 20px;
    

}
.about button{
    margin-left: 760px;
    margin-top: 5PX;
    width: 110px;
    height: 30px;
    background-color: #B77E66;
    color: beige;
    border-radius: 20px;
}
.about button:hover{
    background-color: #c77527;
}
.time h1{
        position: absolute;
        color: white;
        background-color: #08090D;
        opacity: 0.5;
        width: 300px;
        height: 90px;
        font-size: 230%;
        font-family: 'Irish Grover';
        padding-top: 30px;
        padding-left: 60px;
        left: 120px;
        top: 1190px;
}

.time .l1{
        position: absolute;
        left: 50%;
        top: 195%;
        color: white;
        font-size: 150%;
        font-family: 'Irish Grover';
        
}
.time .l2{
    position: absolute;
        left: 70%;
        top: 195%;
    color: white;
    font-size: 150%;
    font-family: 'Irish Grover';
}
.menu-section{
    position: relative;
    background: url(imges/image\ 6.png);
    background-size: cover;
    width: 100%;
    height: auto;
     
  }
  .menu-section h1{
    display: flex;
    justify-content: center;
    color: #903711;
    font-family: Poppins;
    font-size: 50px;
    font-weight: 400;
  }
  .menu-section h3{
    text-decoration: underline;
    margin-left: 100px;
    padding: 30px;
    color: #9E5A3D;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
  }
  .menu{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
  .menu-card{
    width: 260px;
    height: 30rem;
    border-radius: 20px;
    background: rgba(115, 74, 57, 0.88);
    box-shadow: 0px 2px 20px 4px rgba(0, 0, 0, 0.25);
    color: white;
    margin: 25px;
  
  }
  .menu-card img{
    display: flex;
    justify-content: center;
    margin-left: 15px;
    height: 220px;
    width: 230px;
    background-size: cover;
    margin-top: 30px;
    border-radius: 15px;
  }
  
  .menu-card h4{
    margin: 10px;
    color: #FFF;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  }
  .menu-card p{
    margin: 10px;
    font-size: 14px;
  }
  .price{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-weight: 900;
  }
  
  .customers{
    position: relative;
    background: url(imges/top-view-bowls-with-coffee-beans-powder\ 1.png);
    background-size: cover;
      width: 100%;
      height: 70vh;
      overflow-x: hidden;
      overflow-y: hidden;
  }
  .customers h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 20px;
  }
  .card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .customers-card{
    border-radius: 5px;
    margin: 50px;
  background: rgba(88, 49, 21, 0.57);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
  width: fit-content;
  height: fit-content;
  padding: 30px;
  text-align: center;
  }
  .customers-card h4{
    color: #fff;
    text-align: center;
    margin: 20px;
  }
  .customers-card p{
    color: #D3CECE;
  font-family: Lexend;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 20px;
  }
  .customers-card span{
  color: #54DD8B;
  text-align: center;
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin: 10px;
  }
  .map{
    background: #D3CECE;
    height: 70vh;
    width: 100%;
  }
  .map img{
    border: 6px solid #795341;
    margin: 35px 12px ;
    width: 75rem;
  }

footer {
    height: 50px;
    background-color: #1D1714;
    margin-top: 100px;
    
}
footer p{
    text-align: center;
    padding-top: 20px;
    color: #ffffff;
}
.h{
    margin-top: 70px; 
}
.m{
    margin-top: -17px; 
}

.our-menu{
 font-size: 90%;   
font-family: 'Poppins', sans-serif;
border: 1px solid #B77E66;
width: 200px;
text-align: center;
background-color: #B77E66;
border-radius: 20px;
margin-left: 43%;
margin-top: 5%;
}


.grid-container {
    position: absolute;
    left: 15%;
    top: 45%;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    
}

.grid-item {
    width: 200px;
    height: 200px;
    background-color: #D9D9D9 ; 
    color: #000000; 
    text-align: center; 
}
.grid-item img{
    width: 200px;
    height: 200px;
    
}
.grid-item .description .price{
    position: relative;
    top: -22px;
    left: 35%;
    font-weight: bold;
}
.description .name{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: -112px;
    margin-top: -20px;
    color: #6B554A;

}
.grid-item .description .dsc{
  font-size: 12px; 
  padding-left: 13px;
  text-align: left; 
  color: #000000; 
 
}
.grid-item .description button{
    width: 70PX;
    height: 30px;
    font-size: 8PX;
    font-weight: bold;
    border-radius: 20px;
    background-color: #B88857;
    margin-right:110px   ;
    color: #000000;
    
    
}
.grid-item .description  button:hover {
    background-color: #08090D;
    color: #ffffff;
}

.second-grid-container {
        position: absolute;
        left: 130%; 
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        
    }
    
    .second-grid-container .grid-item {
        width: 200px;
        height: 200px;
        background-color: #6B554A; 
        color: #ffffff; 
        text-align: center; 
    }
    
    .second-grid-container .grid-item img {
        width: 200px;
        height: 200px;
    }
    
    .second-grid-container .grid-item .description .price {
        font-weight: bold;
    }
    
    .second-grid-container .description .name {
        color: white;
        margin-left: -90px;
    }
    
    .second-grid-container .grid-item .description .dsc {
        font-size: 12px;
        padding-left: 13px;
        text-align: left;
        color: #ffffff;
    }
    
    .second-grid-container .grid-item .description button {
        width: 70px;
        height: 30px;
        font-size: 8PX;
        font-weight: bold;
        border-radius: 20px;
        background-color: #08090D;
        margin-right: 110px;
        color: #ffffff;
        
    }
    
    .second-grid-container .grid-item .description button:hover {
        background-color: #B88857;
        color: #000000;
        
    }
    
   


/* ----------------------------- */

.local .info {
    margin-left: 200px;

}

.info h1 {
    color: #ffffff;
    font-family: 'lalezar';
    font-size: 200%;
    padding-top: 80px;
}
.info img{
    width: 30px;
}
.info p{
    color: #ffffff;
   margin-top: -30px;
   margin-left: 35px;
}
#map iframe{
    width: 30rem;
    height: 25rem;
    margin-left: 40rem;
    margin-top: -15REM;
}

.contact{
margin-left: 200px;

}
.contact h1{
    color: #ffffff;
    font-size: 200%;
    padding-top: 80px;
}
.contact p{
      color: #ffffff;
      font-family: 'im fell frensh canon';
      font-size: 30px;
}




.form {
    position: absolute;
    left: 40rem;
    top:6rem;
    max-width: 300px;
    height: 350px;
    
    padding: 40px;
    background-color: rgba(151, 81, 25, 0.3);
    border-radius: 5px;
}


.form h2 {
    text-align: center;
    color: #ffffff;
}



.form input[type="text"],
.form input[type="email"],
.form input[type="number"],
.form input[type="password"],
.form select {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


.form input[type="submit"] {
    position: relative;
    background-color: #B88857;
    color: #fff;
    border: none;
    margin-left: 100px;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    width: 30%;
}


.form input[type="submit"]:hover {
    background-color: #D3CECE;
    color: #000000;
}


.big-footer {
    background:linear-gradient(to right bottom, 
    rgba(31, 33, 34, 0.8),
    rgba(40, 40, 40, 0.8)), url(imges/image\ 9.png);
    background-size: cover;
    background-position: center center;
    height: 70vh;
    width: 100%;
    color: #fff; 
    text-align: center;
     
    
}


.big-footer .footer {
    display: flex;
    align-items: center;
    padding-top: 110px;
    margin-left: 330px;
    
 
}

.big-footer .footer li {
    margin: 20px;
    color: #ffffff;
    list-style: none;
}




.big-footer .footer li a {
    color: #fff; 
    text-decoration: none; 
    
}


.big-footer .footer-logo img {
    width: 100px;
}


 .f{
    margin-top: 5%;
   margin-left: 5%;
}


  